.about_content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 2rem;
    margin-left: 2rem;
}

.about_content div {
    display: flex;
    gap: 1rem;
}

.about_content div span {
    color: rgb(64, 215, 215);
}

.about_content div span>span {
    /* color: rgb(55, 212, 191); */
    color: rgb(0, 244, 211);
}